# Environment
.env
.venv

# OS
*.DS_Store

# IDE
.vscode/

# Python
__pycache__/
*.pyc
# Node
node_modules/
package-lock.json

# Data & Storage
docs
chroma
documents
chroma

# Claude Code
.claude/

# BMAD
_bmad
_bmad-output

# Jupyter checkpoints
.ipynb_checkpoints/